<div class="">
    <div class="mx-auto max-w-3xl rounded-lg bg-white shadow-lg">
        <div class="flex items-center rounded-t-lg border-b bg-blue-50 p-4 text-black">
            <div class="rounded-md bg-blue-100 px-4 py-4 text-xl font-bold text-black">
                <img src="https://img.icons8.com/?size=100&id=5MQ0gPAYYx7a&format=png&color=000000" class="h-12 w-12" alt="Photo" />
            </div>
            <div class="ml-4">
                <h1 class="text-2xl font-bold">Nom</h1>
                <p class="text-sm">Dernière modif : 14/02/2004</p>
            </div>
        </div>

        <div class="p-4"></div>

        <div class="border-b border-t bg-white p-4">
            <div class="flex justify-between">
                <div class="flex items-center space-x-4">
                    <img src="https://img.icons8.com/?size=100&id=43297&format=png&color=000000" alt="" width="25" height="25" />
                    <p class="text-lg font-semibold">06 64 47 31 08</p>
                </div>
                <div class="mt-2">
                    <p class="text-lg font-semibold">email@email.com</p>
                </div>
            </div>
            <div class="mt-4 text-sm text-gray-600">
                <a href="#" class="text-black underline"> <p>56 chemin Triquoise 34980 Montferrier sur Lez</p></a>
            </div>
            <div class="flex space-x-3 pt-4">
                <img src="https://img.icons8.com/?size=100&id=5MQ0gPAYYx7a&format=png&color=000000" width="35" alt="twitter" />
                <img src="https://img.icons8.com/?size=100&id=Xy10Jcu1L2Su&format=png&color=000000" width="35" alt="instagram" />
                <img src="https://img.icons8.com/?size=100&id=3TEboFBCrXaa&format=png&color=000000" width="35" alt="discord" />
                <img src="https://img.icons8.com/?size=100&id=21077&format=png&color=000000" width="35" alt="facebook" />
            </div>
        </div>
    </div>
</div>
