{% extends('base.html.twig') %}
{% block body %}
    <div id="UpdateProfile" tabindex="-1"
         class="flex max-h-full w-full justify-center overflow-y-auto overflow-x-hidden p-8 md:inset-0">
        <div class="w-96 flex-col space-y-4  py-8 px-8 rounded-xl shadow">
            <h3 class="text-font-900 mb-4 text-xl font-medium">Update your profil</h3>
            <div>
                <label for="textInput" class="text-font-900 mb-2 block text-sm font-medium"> Text </label>
                <input id="textInput" type="text"
                       class="text-font-900 focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm"
                       placeholder="textToto"/>
            </div>
            <div>
                <label for="telInput" class="text-font-900 mb-2 block text-sm font-medium"> Tél </label>
                <input id="telInput" type="tel"
                       class="text-font-900 focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm"
                       placeholder="XX XX XX XX XX"/>
            </div>
            <div>
                <label for="adresseInput" class="text-font-900 mb-2 block text-sm font-medium"> Adresse </label>
                <input id="adresseInput" type="text"
                       class="text-font-900 focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm"
                       placeholder="65 Avenue Nikhil"/>
            </div>
            <div>
                <label for="paysInput" class="text-font-900 mb-2 block text-sm font-medium"> Pays </label>
                <input id="paysInput" type="text"
                       class="text-font-900 focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm"
                       placeholder="France"/>
            </div>
            <div>
                <label for="passwordInput" class="text-font-900 mb-2 block text-sm font-medium"> Password </label>
                <input id="passwordInput" type="password"
                       class="text-font-900 focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm"
                       placeholder="********"/>
            </div>
            <button class="bg-primary-700 hover:bg-primary-800 focus:ring-primary-300 w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4">
                Update
            </button>
        </div>
    </div>
{% endblock %}
