{# TODO: Créer le visuel du modal de personnalisation de code de profil #}
{# TODO: Vérifier dynamiquement la disponibilité du code de profil avec un requête asynchrone #}
{# TODO: Ajouter un bouton permettant de reset le code de profil en appelant la route reset_profile_code #}

<div>

</div>