<header class="max-w-prose mx-auto content-center flex justify-center mt-2 border shadow-xl rounded-xl">
    <nav class="flex w-full justify-center text-center items-center space-x-8">
        <div>
            <a href="{{ path('homepage') }}"
               class="text-font-900 group flex w-full items-center rounded-lg px-4 py-1 text-base font-medium transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                Home </a>
        </div>
        {% if not is_granted('ROLE_USER') %}

            <div>
                <button data-modal-toggle="sign-in-modal"
                        class="text-font-900 group w-full rounded-lg p-2 text-base font-medium transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                    Sign In
                </button>
            </div>
            <div>
                <button data-modal-toggle="sign-up-modal"
                        class="bg-primary-700 hover:bg-primary-800 group flex w-full items-center rounded-lg px-4 py-2 text-base font-medium text-white transition duration-75 dark:text-white dark:hover:bg-gray-700">
                    Sign Up
                </button>
            </div>
        {% else %}
            <div>
                <a href="{{ path('user_profile', {profileCode: app.user.profileCode }) }}"
                   class="group flex w-full items-center rounded-lg bg-primary-700 px-4 py-1 text-base font-medium text-white transition duration-75 hover:bg-primary-800 dark:text-white dark:hover:bg-gray-700">
                    Profile </a>
            </div>
            <div>
                <a href="{{ path('_logout_main') }}"
                   class="group flex w-full items-center  rounded-lg  px-4 py-1 text-base font-medium text-black transition duration-500 hover:bg-gray-400 dark:text-white dark:hover:bg-gray-700">
                    Disconnect </a>
            </div>
        {% endif %}

    </nav>
</header>