<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Maintenance • Stalker</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
{% include "partials/flash-messages.html.twig" %}
{{ include('partials/maintenance.html.twig') }}
</body>
</html>