{% extends 'base.html.twig' %}

{% block title %}Display User{% endblock %}

{% block body %}
    <style>
        #stalker-main { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>
    <main id="stalker-main">
        <div>
            {% for u in pagination %}
                <div>
                    <h2>User ID: {{ u.id }}</h2>
                </div>
            {% else %}
                <div>Aucun utilisateur trouvé.</div>
            {% endfor %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </main>
{% endblock %}
